<link rel="stylesheet" href="/stylesheets/tablestyle.css">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">

<section class="content">
  <h2 class="mb-5 mt-5" style="text-align: center; ">Leetcode Rating Predictor</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="table-responsive-lg">
          <table id="contest-table" class="table table-striped hover">
            <thead>
              <tr class="bg-primary">
                <th scope="col">Contest Name</th>
                <th scope="col">Type</th>
                <th scope="col">Start Time</th>
                <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
              <% for( let contest of contests ) { %>
              <tr>
                <td>    
                <% if (contest.rankings_fetched) { %>
                  <a href="/contests/<%= contest._id %>/ranking/1" style="text-decoration:none"><%= contest._id %></a> 
                <% } else {%>
                  <%= contest._id %> 
                  <% } %> 
              </td>
                <% if (contest.startTime>Date.now()) { %>
                <td>Upcoming</td>
                <% } else { %>
                <td>Virtual</td>
                <% } %>
                <td><%= contest.startTime %></td>
                <td><%= (contest.endTime - contest.startTime)/60000 %> minutes</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>

new simpleDatatables.DataTable("#contest-table", {
	searchable: true,
	fixedHeight: true,
  sortable:false,
});
</script>