<link rel="stylesheet" href="/stylesheets/tablestyle.css">
<div class="container">
    <a href="/" class="btn btn-dark btn-md mt-3" role="button">All Contests</a>
    <h1 class="mb-5 mt-3" style="text-align: center;">Ranking For <%= contests._id %> </h1>
    <nav>
        <ul class="pagination">
            <% if (page>1) { %>
                <li class="page-item">
                    <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 1 %>" tabindex="-1"><<</a>
                </li>
                <li class="page-item"><a class="page-link" href="/contests/<%= contests._id %>/ranking/1">1</a></li>
                
            <% } %>
            <% if (page===3) { %>
                
                <li class="page-item">
                    <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 1 %>" tabindex="-1"><%= page - 1 %></a>
                </li>
                
            <% } %>
            <% if (page>3) { %>
                <li class="page-item">
                    <a class="page-link"style="pointer-events: none;" tabindex="-1">..</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 2 %>" tabindex="-1"><%= page - 2 %></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 1 %>" tabindex="-1"><%= page - 1 %></a>
                </li>
                
                
            <% } %>
          <li class="page-item active">
            <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page%>"><%= page %>  <span class="sr-only">(current)</span></a>
          </li>
          <% if (page===totalPages-2) { %>
            <li class="page-item">
              <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= parseInt(page) + 1 %>" tabindex="-1"><%= parseInt(page) + 1 %></a>
          </li>
          <% } %>
          <% if (page<totalPages-2) { %>
            <li class="page-item">
                <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= parseInt(page) + 1 %>" tabindex="-1"><%= parseInt(page) + 1 %></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= parseInt(page) + 2 %>" tabindex="-1"><%= parseInt(page) + 2 %></a>
          </li>
          <li class="page-item">
            <a class="page-link"style="pointer-events: none;" tabindex="-1">..</a>
        </li>
          <% } %>
          <% if (page<totalPages) { %>
            
              <li class="page-item"><a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= totalPages %> "><%= totalPages %> </a></li>
              <li class="page-item">
                <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page + 1 %>" tabindex="-1">>></a>
            </li>
            <% } %>
          
        </ul>
      </nav>
      <form action="/contests/<%= contests._id %>/ranking/search" method='POST'>
        <div class="mb-3">
            <input type="text" class="form-control" id="user" name="user"  placeholder="Search For a Contestant">
            <button type="submit" class="btn btn-dark mt-3 mb-3">Search</button>
        </div>
      </form>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-fixed">
            <thead>
            <tr>
                <th>#</th>
                <th>Rank</th>
                <th>Name</th>
                <th>Current Rating</th>
                <th>Delta</th>
                <th>Country Name</th>
            </tr>
            </thead>
            <tbody>
                <% if (contests.rankings) { %>
                    <% for( let i = 0; i < contests.rankings.length; i++ ) { %>
                        <tr>
                            <td><%= i+1 %> </td>
                            <td><%= contests.rankings[i].rank %> </td>
                            <td><a href="https://leetcode.com/<%=contests.rankings[i]._id%>/"><%= contests.rankings[i]._id %> </a></td>
                            <% if ( contests.rankings[i].current_rating && contests.rankings[i].current_rating != -1) { %>
                                <td><%= contests.rankings[i].current_rating %> </td>
                                <% } else { %>
                                 <td>?</td>
                            <% } %>
                            <% if ( contests.rankings[i].delta) { %>
                                <td><%= contests.rankings[i].delta %> </td>
                                <% } else { %>
                                 <td>?</td>
                            <% } %>
                            
                            <td><%= contests.rankings[i].country_name %> </td>
                        </tr>
                    <% } %>
                <% } %>
               
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <% if (page>1) { %>
                    <li class="page-item">
                        <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 1 %>" tabindex="-1"><<</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/contests/<%= contests._id %>/ranking/1">1</a></li>
                    
                <% } %>
                <% if (page===3) { %>
                    
                    <li class="page-item">
                        <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 1 %>" tabindex="-1"><%= page - 1 %></a>
                    </li>
                    
                    
                <% } %>
                <% if (page>3) { %>
                    <li class="page-item">
                        <a class="page-link"style="pointer-events: none;" tabindex="-1">..</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 2 %>" tabindex="-1"><%= page - 2 %></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page - 1 %>" tabindex="-1"><%= page - 1 %></a>
                    </li>
                    
                    
                <% } %>
              <li class="page-item active">
                <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page%>"><%= page %>  <span class="sr-only">(current)</span></a>
              </li>
              <% if (page===totalPages-2) { %>
                <li class="page-item">
                  <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= parseInt(page) + 1 %>" tabindex="-1"><%= parseInt(page) + 1 %></a>
              </li>
              <% } %>
              <% if (page<totalPages-2) { %>
                <li class="page-item">
                    <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= parseInt(page) + 1 %>" tabindex="-1"><%= parseInt(page) + 1 %></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= parseInt(page) + 2 %>" tabindex="-1"><%= parseInt(page) + 2 %></a>
              </li>
              <li class="page-item">
                <a class="page-link"style="pointer-events: none;" tabindex="-1">..</a>
            </li>
              <% } %>
              <% if (page<totalPages) { %>
                
                  <li class="page-item"><a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= totalPages %> "><%= totalPages %> </a></li>
                  <li class="page-item">
                    <a class="page-link" href="/contests/<%= contests._id %>/ranking/<%= page + 1 %>" tabindex="-1">>></a>
                </li>
                <% } %>
              
            </ul>
          </nav>
        
    </div>
</div>