<div class="container">
    <h1 class="mb-5 mt-3" style="text-align: center;">Ranking For <%= contestSlug %> </h1>
    
      <form action="/contests/<%= contestSlug %>/ranking/search" method='POST'>
        <div class="mb-3">
            <input type="text" class="form-control" id="user" name="user"  placeholder="Search For a Contestant">
            <button type="submit" class="btn btn-dark mt-3 mb-3">Search</button>
        </div>
      </form>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-fixed">
            <thead>
            <tr>
                <th>#</th>
                <th>Rank</th>
                <th>Name</th>
                <th>Current Rating</th>
                <th>Predicted Rating</th>
                <th>Country Name</th>
            </tr>
            </thead>
            <tbody>
                <% if (searchResult) { %>
                    <% for( let i = 0; i < searchResult.length; i++ ) { %>
                        <tr>
                            <td><%= i+1 %> </td>
                            <td><%= searchResult[i].rank %> </td>
                            <td><a href="https://leetcode.com/<%=searchResult[i]._id%>/"><%= searchResult[i]._id %> </a></td>
                            <% if ( searchResult[i].current_rating != -1) { %>
                                <td><%= searchResult[i].current_rating %> </td>
                                <% } else { %>
                                 <td>?</td>
                            <% } %>
                            <% if ( searchResult[i].predicted_rating != -1) { %>
                                <td><%= searchResult[i].predicted_rating %> </td>
                                <% } else { %>
                                 <td>?</td>
                            <% } %>
                            <td><%= searchResult[i].country_name %> </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
        <a href="/contests/weekly-contest-242/ranking/1" class="btn btn-dark btn-md" role="button">All Rankings</a>

    </div>
</div>